@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "proxima-nova-semibold";
  src: url("../_fonts/Proxima_Nova_Semibold.otf");
}

@font-face {
  font-family: "proxima-nova-extrabold";
  src: url("../_fonts/Proxima_Nova_Extrabold.otf");
}

* {
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 205 40% 15%;
    --secondary-background: 223.81 0% 12%;
    --foreground: 223.81 0% 90%;
    --main-foreground: 0 0% 100%;
    --main: 204 100% 45%;
    --border: 0 0% 0%;
    --overlay: 0 0% 0% / 0.8;
    --ring: 223.81 -173% 100%;
    --chart-1: #008ae5;
    --chart-2: #ff6669;
    --chart-3: #e0b700;
    --chart-4: #04c86d;
    --chart-5: #7a83ff;
    --chart-active-dot: #fff;
  }
}

@layer base {
  body {
    @apply bg-background font-base text-foreground;
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
