@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "proxima-nova";
  src: url("../_fonts/Proxima_Nova_Semibold.otf");
}

:root {
  --background: #ecd6c6;
  --foreground: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.btn-primary {
  @apply rounded-lg border border-nero/80 bg-nero/80 px-3 py-1 text-base font-semibold text-blush transition-colors hover:bg-blush/80 hover:text-nero active:bg-blush/80 active:text-nero;
}
